<!DOCTYPE HTML>
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="../static/css/pages/list.css" rel="stylesheet" th:href="@{/css/pages/list.css}"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Aktuelle Einkaufsliste</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/list">Liste <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/closings">Abschlüsse <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

    <h1 class="header">Einkaufsliste</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="table-header">Artikel</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr th:if="${list.empty}">
                <td colspan="2">Aktuell nichts zu erledigen :) </td>
            </tr>
            <tr th:each="item : ${list}">
                <td><span th:text="${item}" class="article"></span></td>
                <td class="action-bar">
                    <form th:action="@{/list/save/{item}(item=${item})}" th:object="${item}" method="post" class="list-button-container">
                        <button type="submit" class="btn btn-dark list-button">
                            <i class="material-icons button-icon" style="font-size:30px; vertical-align: middle;">bookmark</i>
                        </button>
                    </form>
                    <form th:action="@{/list/delete/{item}(item=${item})}" th:object="${item}" method="post" class="list-button-container">
                        <button type="submit" class="btn btn-dark list-button">
                            <i class="material-icons button-icon" style="font-size:30px; vertical-align: middle;">delete</i>
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>

    <form class="article-form" action="#" th:action="@{/list/add}" th:object="${newItem}" method="post">
        <fieldset class="field-set">
            <div class="form-group article-form-inner">
                <label for="newItem" class="article-form-header">Neuen Artikel hinzufügen</label>
                <input id="newItem" class="form-control" name="newItem" type="text" placeholder="Artikel">
                <small id="emailHelp" class="form-text text-muted">Herforderlich</small>
            </div>
            <button type="submit" class="btn btn-dark">Hinzufügen</button>
        </fieldset>
    </form>
    <br>
    <br>
    <form class="article-form" action="#" th:action="@{/list/commit}" th:object="${bill}" method="post">
        <fieldset class="field-set">
            <label for="priceString" class="article-form-header">Kosten insgesamt</label>
            <div class="form-group mb-3">
                <input id="priceString" name="priceString" placeholder="Preis in €" class="form-control">
                <input id="user" name="user" type="text" placeholder="Name" class="form-control">
            </div>
            <div>
                <button type="submit" class="btn btn-dark">Fertig!</button>
            </div>
        </fieldset>
    </form>

</body>