body {
    background: url(../../images/list_background_low_res.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-collapse.collapse.in { display: inline-block; }

.container {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
}

.header {
    color: white;
    text-align: center;
}

.table {
    background: rgba(255,255,255,0.6);
}

.table-header {
    font-size: 24px;
}