body {
    background: url(../../images/background_stars.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
}

.surely-not-a-link {
    color: #212529;
    cursor: auto !important;
}

.surely-not-a-link:hover {
    color: black;
    cursor: auto !important;
    text-decoration: unset !important;
}
.navigation-button {
    margin-top: 5px;
    width: 250px;
}