body {
    background: url(../../images/list_background_low_res.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-collapse.collapse.in { display: inline-block; }

.header {
    color: white;
    text-align: center;
}

.table {
    background: rgba(255,255,255,0.6);
}

.table-header {
    font-size: 24px;
}

.action-bar {
    padding: unset !important;
    padding-bottom: 5px !important;
    margin-right: -5px;
}

.article {
    font-size: 22px;
}

.list-button-container {
    width: 140px;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-button {
    float: right;
    width: 44px;
    height: 40px;
    background-color: unset !important;
    border: unset !important;
    color: black !important;
}

.button-icon {
    vertical-align: unset !important;
    margin-left: -7px;
}

.article-form {
    background: rgba(255,255,255,0.6);
}

.article-form-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.field-set {
    text-align: center;
}

.article-form-inner {
    text-align: center;
}